body{
    background-color: rgb(0, 0, 85);
background-image:url('../media/images/videos/galaxy-fotor-20231011231552.jpg');
background-attachment:fixed;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-size: cover;
min-height: 90vh;
min-height: 100vh;
  

}

.header {
    z-index: 1;
    top: 30px;
    left: 60px;
    text-align: center;
    color: #b4000a;
    position: absolute;
    font-size: 13px;
    font-family: 'pixels';
    position: absolute;
    display: block;
    background-color: #ffbabe;
        width: 86%;
       padding-top: 5px;
       padding-bottom: 5px;
       padding-left: 1%;
       padding-right: 1%;
       border: 6px dashed;
}

@font-face {
    font-family: "pixels";
    src: url("../media/pcsenior.ttf");
}
.yt{
    position: absolute;
    top: 230px;
    left: 150px;
    width: 100px;
    
}

.yt2{
    position: absolute;
    top: 230px;
    left: 850px;
    z-index: 1;
 
}

.sonic{
    position: absolute;
    top: 145px;
    left: 30px;

    text-decoration: underline;
    color: rgb(70, 123, 220);
    font-size: 23px;
    font-family: pixels;


}

.sonicpic{
    position: relative;
    top:225px ;
    left: 600px;
    width:240px;
    height: 310px;
}

.yt3{
    position: relative;
    top: 200px;
    left: -230px;
}

.game{

    position: relative;
    top: 600px;
    left: 630px;
    width: 500px;
    height: 300px;
}

.yt4{
    position: relative;
    left: -430px;
    top: 100px;
}

.yt5{
    position: relative;
    left: 350px;
    top: 300px;
}

.Pactext{
position: relative;
    top: -100px;
    left: 45px;
    text-decoration: underline;
    color: rgb(255, 123, 123);
    font-size: 25px;
    font-family: pixels;
}

.pacmann{
    width: 300px;
    height: 300px;
    position: relative;
    top: 610px;
    left: -700px;
}

.yt6{
    position: relative;
    top: 250px;
    left: 30px;
}

.yt7{
    position:relative;
    top: 250px;
    left: 30px;

}

.Mario3{
    position: relative;
    width: 470px;
    height: 300px;
    top: 250px;
    left: 30px;
}

.banddit{
    position: relative;
    top: 330px;
    left: -350px;
}

.bandpic{
    position: relative;
    top: 330px;
    left: 630px;
    height: 295px;
}

.smb{
    position: relative;
    top: -450px;
    left: 45px;
    text-decoration: underline;
    color: rgb(133, 255, 186);
    font-size: 25px;
    font-family: pixels;  
}

.cnn{
    position: relative;
    top: -150px;
    left: 45px;
    text-decoration: underline;
    color: rgb(255, 209, 178);
    font-size: 25px;
    font-family: pixels;   
}


